.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: 100vw;
}

.app h1 {
  padding: 1em;
  background-color: aqua;
  border: 5px solid black;
  border-radius: 50%;
  text-align: center;
  margin: 1em;
  width: 40vw;
}

.app .content {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-evenly;
}
